@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300');

body {
    font-weight: 300;
    font-family: Work Sans;
    margin: 0;
    background-color: #f6f0f0;
}

/* header et nav */

header {
    font-size: 1.5em;
    padding: 60px;
    text-align: center;
    background-color: #91b3fa; 
    color: white;
    position: relative;
}
header p {
    font-size: 1.2rem;
    margin-bottom: 0;
} 
header img {
    position: absolute;
    width: 350px;
    height: auto;
    bottom: 0;
}
header img:first-child {
    left: 0;
    bottom: -15px;
}
header img:last-child {
    width: 300px;
    bottom: -600px;
    right: -20px;
}
main {
    display: flex;
}
main ul {
    list-style-image: url("../src/fontawesome-free-6.1.1-desktop/svgs/solid/check.svg");
    /* list-style-position: outside; */
}
main ul li {
    padding-left: 1em;
}
aside {
    /* background: #fff; */
    box-sizing: border-box;
    padding: 10rem 0 8rem;
    background-color: #fea59fc9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.21'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
aside p {
    text-align: center;
    line-height: 3em;
    font-size: 18px;
}
h1 {
    color: white;
}
h2 {
    position: relative;
    margin: 0;
    margin-bottom: 4rem;
    margin-top: 3rem;
}
h2::before{
    content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #000;
  left: 0;
  top: 50%;
  position: absolute;
}
h3 {
    font-size: 1em;
}
hr {
    margin: 3em;
}

b, strong {
    font-weight: 600;
}


.home_wrapper_technos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.home_wrapper_technos .technos {
    width: 45px;
    height: auto;
}
.heart {
    width: 24px;
    margin-left: 0.3rem;
}

/* main section */

.middle-section {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
article {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem 0;
}
.article-bottom-wrapper > * {
    flex: 50%;
}
.fakeImg {
    display: flex;
    width: 350px;
    height: auto;
}



.grey_background {
    background-color: #F9F9F9;
}
.white_background {
    background-color: white;
}

/* spécifique par section */

.title_no_margin_top {
    margin-top: 0;
    padding-top: 2em;
}
.title_font {
    text-align: center;
    font-family: Montserrat;
}

/* boostrap overides */
.btn {
    padding: 0.775rem 1.05rem;
    border-radius: 0.45rem;
}
.btn-primary {
  background-color: #fea59f;
  border: 1px solid rgb(254 165 159);
}
.btn-primary:hover {
    color: #fff;
    background-color: #d989e0d6;
    border: solid 1px #bf74d9;
}

/* carousel */
.carousel-inner img {
  width: 500px;
}

#experience {
    display: block;
    background-color: #FFF;;
}
#formation {
    position: relative;
    background-color: #f6f0f0;
}
.padding-bottom2 {
    padding-bottom: 2rem;
}
.padding-top2 {
    padding-top: 2rem;
}
.color2 {
    fill: #FFF;
}
.color1 {
    fill: #f6f0f0;
}

#experience svg {
    margin-top: -6em;
}

#formation #clouds {
    position: absolute;
    top: -100px;
}

#projets {
    padding: 3rem 0;
    background-color: #f6f0f0;
}
.card-wrapper svg {
    width: 90px;
    height: auto;
}
.svg-wrapper {
    padding: 2rem;
}
.svg-wrapper svg {
    fill: #fc79aa85;
}

.card-wrapper {
    display: flex;
    justify-content: space-evenly;
}